extends ../templates/default
include ../templates/nav
block content
  
  div(class='col-md-8 col-md-offset-3')
    h1(aling = "center")='Las 1000 Empresas más Importantes de México' 
  div(class='col-md-12 col-md-offset-0')
    div(class='table-responsive' )  
      table#local.table.table-striped 
        thead(bgcolor="#34495E")
          //th(COLSPAN=7) Información de los Ranking
          //th(ROWSPAN=1) Empresa
          //th(COLSPAN=10 ) Información Financiera (en millones de dólares)
          //th(COLSPAN=4 ) Razones Financieras 2015
          //th(COLSPAN=2 ) Datos Adicionales
          tr

            th Rank 2014
            th Rank 2015
            th Var.Pos 2014/2015
            th Rank Sector 2015
            th Rank Empleo 2015
            th Rank Rentabilidad 2015
            th Nombre Empresa
            th 2015 (mdd)
            th Var. % Ingresos 2014/2015
            th Utilidad Neta 2014
            th Utilidad Neta 2015
            th Utilidad Operación 2015
            th Var. % 2014/2015 
            th Activo Total 2015
            th Var. % 2014/2015 
            th Pasivo Total 2015
            th Var. % 2014/2015 
            th Margen Operativo de Ventas
            th ROA
            th ROE
            th Liquidez
            th País
            th Sector
          //each item, i in items2
            th=item.Field
        tbody(bgcolor="#8D9EAF")
          each item, i in items2
            td
          each item, i in items
            tr
              td= item.Rank_1000_2015
              td= item.Rank_1000_2014
              td= item.Var_Pos_2014_2015
              td= item.Rank_Sector_2015
              td= item.Rank_Empleo_2015
              td= item.Rank_Rentabilidad
              td= item.Empresa
              td= item.Información_Financiera_2015_mdd
              td= item.Var_Porcentaje_Ingresos_2014_2015
              td= item.Utilidad_Neta_2015
              td= item.Utilidad_Neta_2014
              td= item.Utilidad_Operación_2015
              td= item.Var_Porcentaje_2014_2015
              td= item.Activo_Total_2015
              td= item.Var1_Porcentaje_2014_2015
              td= item.Pasivo_Total
              td= item.Var3_Porcentaje_2014_2015
              td= item.Margen_Operativo_de_Ventas
              td= item.ROA
              td= item.ROE
              td= item.Liquidez
              td= item.País
              td= item.Sector
      
  br
  br


  container2
    table(class="table table-striped")
      thead()
        tr
          th        
            button(type="button" onclick="location.href='/users/panel'" name="boton" class="btn btn-default")="Regresar"
          th
            button(type="button" onclick="javascript:window.print()"  class="btn btn-default" )="Imprimir"
          th
            button(type="button" onclick="tableToExcel('local', 'Mundo Ejecutivo')"  class="btn btn-default")="Exportar a Excel"
 

    script(src='../javascripts/table.js') 
    script(src='../javascripts/excel.js')